.task-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include sm {
        flex-direction: column;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        @include sm {
            position: static;
        }
    }

    &__error {
        position: absolute;
        bottom: -1.25rem;
        left: 0;
        text-align: left;
        font-size: 0.75rem;
        color: rgb(191, 16, 16);

        @include sm {
            position: static;
            margin-top: 0.5rem;
        }
    }

    button {
        align-self: stretch;

        @include sm {
            padding: 0.75rem;
        }
    }
}
