.kanban-column {
    border: 1px solid black;
    background-color: lightgrey;
    min-height: 8rem;
    height: fit-content;

    h2 {
        margin: 0;
        padding: 0.5rem;
        border-bottom: 1px solid black;
    }

    &.to-do {
        header {
            background-color: lightblue;
        }
    }

    &.in-progress {
        header {
            background-color: orange;
        }
    }

    &.completed {
        header {
            background-color: lightcoral;
        }
    }
}
