.btn {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;

    &:hover {
        transition: background-color 0.25s ease-in-out;
    }

    &--primary {
        background-color: rgb(33, 59, 125);
        color: white;

        &:hover {
            background-color: darken($color: rgb(33, 59, 125), $amount: 10);
        }
    }

    &--warning {
        background-color: rgb(162, 29, 51);
        color: white;

        &:hover {
            background-color: darken($color: rgb(162, 29, 51), $amount: 10);
        }
    }

    &--outline {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        background-color: white;
        color: black;
        border: 1px solid gray;

        &:hover {
            background-color: darken($color: white, $amount: 5);
        }
    }
}
