@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './base';

// features styles
@import '../features/tasks/styles';

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}
