.task-management-board {
    & > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
    }

    .add-new-task {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @include sm {
            flex-direction: column;

            input,
            button {
                width: 100%;
            }
        }

        button {
            align-self: stretch;

            @include sm {
                padding: 0.75rem;
            }
        }
    }
}
