.kanban-task {
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
    background-color: white;

    &:focus {
        border-color: rgb(0, 123, 255);
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
    }

    &__content {
        h2 {
            margin-bottom: 1rem;
            font-size: 1.25rem;
        }

        .info {
            margin-bottom: 0.75rem;

            strong {
                margin-right: 0.25rem;
                font-weight: 600;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;

        @include sm {
            flex-direction: column;

            button {
                width: 100%;
            }
        }
    }
}
