.kanban-task {
    border: 2px solid black;
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
    background-color: white;

    &:focus {
        border-color: rgb(0, 123, 255);
    }

    h3 {
        font-size: 1rem;
    }

    &__dialog {
        h1 {
            margin-bottom: 2rem;
        }
    }
}
