.kanban-task {
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
    background-color: white;

    &:focus {
        border-color: rgb(0, 123, 255);
    }

    h3 {
        font-size: 1rem;
    }

    &__dialog {
        h1 {
            margin-bottom: 2rem;
        }
    }

    &__content {
        h2 {
            margin-bottom: 1rem;
            font-size: 1.25rem;
        }

        .info {
            margin-bottom: 0.75rem;

            strong {
                margin-right: 0.25rem;
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    &-edit {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                font-size: 0.75rem;
            }
        }

        button {
            width: fit-content;
            margin-left: auto;
        }
    }
}
